body{
    overflow: hidden;
}
#backGround {
    overflow: hidden;
    width: 102%;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
}
form {
    z-index: 1;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .5);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 20px auto;

}
input {
    padding: 5px;
    margin: 10px;
}
form button {
    padding: 10px 0;
    background-color: blue;
    color: white;
    border: none;
}